body {
    text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
	color:#2132aa;
	border:1px solid #33f;
	border-radius:10px;
}

h2 {
    margin: 1.5em 0 0.5em;
	
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

input[type=submit]{
	padding:5px 10px;
	background:#36c;
	border-radius:5px;
	font-size:15px;
	color:#fff;
	cursor:pointer;
	border:1px outset #36c;
	font-weight:800;
}
#sizePicker{
	background-color:#ccc;
	font-size:19px;
	padding:5px;
}
